<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.caffeineshawn.db_backend.mapper.GoodMapper">

    <insert id="addGood" useGeneratedKeys="true" keyProperty="good_id"
            parameterType="com.caffeineshawn.db_backend.entity.Good">
        insert into good(good_name, good_weight, good_state, good_destination, good_origin)
        values (#{good_name}, #{good_weight}, #{good_state}, #{good_destination}, #{good_origin})
    </insert>

    <select id="findGoodById" resultType="com.caffeineshawn.db_backend.entity.Good">
        select * from good,order_good
        where order_good.order_id = #{order_id}
        and order_good.good_id = good.good_id
    </select>

    <update id="updateGoodInfo" parameterType="com.caffeineshawn.db_backend.entity.Good">
        update good
        set good_state = #{good_state},good_price = #{good_price}, good_origin = #{good_origin},
            good_weight = #{good_weight}, good_destination = #{good_destination},
            good_name = #{good_name}
        where good_id = #{good_id}
    </update>

    <delete id="deleteGoodById">
        delete from good
        where good_id = #{good_id}
    </delete>

</mapper>