<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.caffeineshawn.db_backend.mapper.OrderMapper">

    <insert id="addOrder" useGeneratedKeys="true" keyProperty="order_id">
        insert into `order`(consignor_id, consignee_id,order_destination,order_origin)
        values (#{consignor_id}, #{consignee_id}, #{order_destination}, #{order_origin})
    </insert>

    <select id="findAllOrder" parameterType="com.caffeineshawn.db_backend.entity.QueryInfo"
            resultType="java.util.HashMap">
        select os.user_name consignor,os.user_phone consignor_phone,os.order_id,
               os.order_destination,os.order_origin,os.order_state,
               `user`.user_name consignee,`user`.user_phone consignee_phone,
               good.good_name
        from `user`,good,order_good,(
            select user_name,user_phone,consignee_id,order_id,order_origin,order_destination,order_state
            from `order`,`user`
            where consignor_id = user_id
        ) os
        where os.consignee_id = `user`.user_id
          and os.order_id = order_good.order_id
          and order_good.good_id = good.good_id
        <if test="information != '' and information != null">
          and (
            os.user_name like concat('%', #{information}, '%')
            or os.user_phone like concat('%', #{information}, '%')
            or `user`.user_name like concat('%', #{information}, '%')
            or `user`.user_phone like concat('%', #{information}, '%')
          )
        </if>
        limit #{page},#{size}
    </select>

    <select id="findAllOrderCount" parameterType="com.caffeineshawn.db_backend.entity.QueryInfo"
            resultType="java.lang.Integer">
        select count(*)
        from `user`,good,order_good,(
        select user_name,user_phone,consignee_id,order_id,order_origin,order_destination,order_state
        from `order`,`user`
        where consignor_id = user_id
        ) os
        where os.consignee_id = `user`.user_id
        and os.order_id = order_good.order_id
        and order_good.good_id = good.good_id
        <if test="information != '' and information != null">
            and (
            os.user_name like concat('%', #{information}, '%')
            or os.user_phone like concat('%', #{information}, '%')
            or `user`.user_name like concat('%', #{information}, '%')
            or `user`.user_phone like concat('%', #{information}, '%')
            )
        </if>
    </select>

    <select id="findOrders" resultType="java.util.HashMap">
        select os.user_name consignor,os.user_phone consignor_phone,os.order_id,
               os.order_destination,os.order_origin,os.order_state,
               `user`.user_name consignee,`user`.user_phone consignee_phone,
               good.good_name,good.good_id,good.good_weight,good.good_price
        from `user`,good,order_good,(
            select user_name,user_phone,consignee_id,order_id,order_origin,order_destination,order_state
            from `order`,`user`
            where consignor_id = user_id
        ) os
        where os.consignee_id = `user`.user_id
          and os.order_id = order_good.order_id
          and order_good.good_id = good.good_id
    </select>

    <delete id="deleteOrderById">
        delete from `order`
        where order_id = #{order_id}
    </delete>

    <select id="findGoodIdByOrderId" resultType="java.lang.Integer">
        select good_id from order_good where order_id = #{order_id}
    </select>

    <insert id="addOrderGood">
        insert into order_good(order_id, good_id)
        values (#{order_id}, #{good_id})
    </insert>

    <select id="findOrderById" resultType="com.caffeineshawn.db_backend.entity.Order">
        select * from `order`
        where order_id = #{order_id}
    </select>
</mapper>