<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.caffeineshawn.db_backend.mapper.OrderMapper">

    <insert id="addOrder" parameterType="java.lang.Integer">
        insert into `order`(consignor_id, consignee_id, good_id)
        values (#{consignor_id}, #{consignee_id}, #{good_id})
    </insert>

    <select id="findAllOrder" parameterType="com.caffeineshawn.db_backend.entity.QueryInfo"
            resultType="java.util.HashMap">
        select os.user_name consignor,os.user_phone consignor_phone,
               `user`.user_name consignee,`user`.user_phone consignee_phone,good_name,
               good.good_price,good.good_state
        from `user`,good,(
            select user_name,user_phone, `order`.consignee_id,good_id from `order`,`user`
            where `order`.consignor_id = `user`.user_id
        ) os
        where os.consignee_id = `user`.user_id
          and os.good_id = good.good_id
        <if test="information != '' and information != null">
          and (
            os.user_name like concat('%', #{information}, '%')
            or os.user_phone like concat('%', #{information}, '%')
            or `user`.user_name like concat('%', #{information}, '%')
            or `user`.user_phone like concat('%', #{information}, '%')
          )
        </if>
        limit #{page},#{size}
    </select>

    <select id="findOrders" resultType="java.util.HashMap">
        select os.user_name consignor,os.user_phone consignor_phone,
               `user`.user_name consignee,`user`.user_phone consignee_phone,good_name,
               good.good_price,good.good_state
        from `user`,good,(
            select user_name,user_phone, `order`.consignee_id,good_id from `order`,`user`
            where `order`.consignor_id = `user`.user_id
        ) os
        where os.consignee_id = `user`.user_id
          and os.good_id = good.good_id
    </select>
</mapper>