<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.caffeineshawn.db_backend.mapper.TrackMapper">
    <select id="findOrderTrack" resultType="com.caffeineshawn.db_backend.entity.Track">
        select * from track where order_id = #{order_id}
        order by track.`current_time`
    </select>

    <insert id="addTrack" useGeneratedKeys="true" keyProperty="order_id" parameterType="com.caffeineshawn.db_backend.entity.Track">
        insert into track (order_id, current_location, `current_time`)
        values (#{order_id},#{current_location},#{current_time})
    </insert>

    <select id="findTrack" resultType="com.caffeineshawn.db_backend.entity.Track">
        select * from track
        <where>
        <if test="order_id != null and order_id != '' ">
            and order_id = #{order_id}
        </if>
        <if test="current_location != null and current_location != '' ">
            and current_location = #{current_location}
        </if>
        <if test="current_time != null and current_time != '' ">
            and `current_time` = #{current_time}
        </if>
        </where>
    </select>

    <update id="updateTrack" parameterType="com.caffeineshawn.db_backend.entity.Track">
        update track
        <set>
            <if test="current_location != null and current_location != '' ">
                current_location = #{current_location},
            </if>
            <if test="current_time != null and current_time != '' ">
                `current_time` = #{current_time},
            </if>
        </set>
            where order_id = #{order_id}
    </update>

    <delete id="deleteTrack">
        delete from track where order_id = #{order_id}
    </delete>

</mapper>
