<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.caffeineshawn.db_backend.mapper.UserMapper">

    <resultMap id="userMap" type="com.caffeineshawn.db_backend.entity.User">
        <id property="user_id" column="user_id" />
        <result property="user_name" column="user_name"/>
        <result property="user_password" column="user_password"/>
        <result property="user_gender" column="user_gender"/>
        <collection property="orderList"
                    ofType="com.caffeineshawn.db_backend.entity.Order"
                    column="user_id"
                    select="com.caffeineshawn.db_backend.mapper.OrderMapper.findUserOrder"/>
    </resultMap>
    
    <select id="findUserById" resultMap="userMap">
        select * from user where user_id = #{user_id}
    </select>

    <select id="findAllUser" parameterType="com.caffeineshawn.db_backend.entity.QueryInfo"
            resultType="com.caffeineshawn.db_backend.entity.User">
        select * from user
            <if test="information != '' and information != null">
                where user_name like concat('%', #{information}, '%')
                or user_phone like concat('%', #{information}, '%')
                or user_gender like concat('%', #{information}, '%')
            </if>
    </select>

    <select id="findAllUserCount" resultType="java.lang.Integer">
        select count(*) from user
        <if test="information != '' and information != null">
            where user_name like concat('%', #{information}, '%')
            or user_phone like concat('%', #{information}, '%')
            or user_gender like concat('%', #{information}, '%')
        </if>
    </select>

    
    
</mapper>